@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    flex-wrap:wrap;
    font-family: 'Libre Bodoni', serif;

    
}

html{
    font-size: 20px;
    background-color: var(--secondary-color);
    
}
:root{
    --primary-color:#9296bc;
    --secondary-color:rgb(249, 245, 245);
    --primary-color-text:rgb(12, 12, 12);
    --secondary-color-text:#9296bc;
    --secondary2-color-text:rgb(210, 210, 210);
    --secondary3-color-text:#8a8889;
    
}


.main section {
    margin: auto;
    top: 0;
}

.s-presentacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s-presentacion img{
    width: 100%;
    position: relative;
    margin: auto;
    
}
.s-presentacion .backgroundTexto{
    width: 100%;
    height: 24rem;
    position: relative;
    top:-13rem;
    color: var(--primary-color-text);
    text-align: center;
    
    background: rgb(210,210,210);
    background: -moz-linear-gradient(180deg, rgba(210,210,210,0) 0%, rgba(210,210,210,1) 22%, rgba(168,167,168,1) 51%, rgba(138,136,137,1) 74%);
    background: -webkit-linear-gradient(180deg, rgba(210,210,210,0) 0%, rgba(210,210,210,1) 22%, rgba(168,167,168,1) 51%, rgba(138,136,137,1) 74%);
    background: linear-gradient(180deg, rgba(210,210,210,0) 0%, rgba(210,210,210,1) 22%, rgba(168,167,168,1) 51%, rgba(138,136,137,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2d2d2",endColorstr="#8a8889",GradientType=1);
}
.textoImgPresentacion{
    text-align: center;
    top: 2.5rem;
    position: relative;
    margin-top:2rem;
}
.textoImgPresentacion h1{
    font-family: 'Great Vibes', cursive;
    font-size:2.5rem;
    margin-bottom: 2rem;

    color: var(--primary-color-text);
}
.textoImgPresentacion h2{
    font-size:0.8rem;
    word-spacing: 0.50em;
    margin-top: -1.5rem;
    color: var(--primary-color-text);
    
}

.foto-despedida{
    width: 80%;
}
.s-book{
    width:100%;
    margin: auto;
    background-color: var(--secondary2-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-15rem;
    padding: 1rem;
    
}
.s-book h2{
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: var(--secondary3-color-text);

}
.s-gift{
    width:100%;
    margin: auto;
    background-color: var(--secondary3-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-15rem;
    padding: 1rem;
    
}
.s-gift img{
    width: 3rem;

}
.gift-info{
    width: 80%;
    text-align: center;
    margin: 0.5rem;
    color: #fff;
}
.s-dressCode{
    width:100%;
    margin: auto;
    background-color: var(--secondary3-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-15rem;
    padding: 1rem;
    
}
.s-dressCode h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom:-0.5rem;
    font-family: 'Great Vibes', cursive;
    color: var(--secondary-color);
}
.s-despedida{
    width:100%;
    margin: auto;
    background-color: var(--secondary2-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-15rem;
    padding: 1rem;
    
}
.s-despedida .despedidaText {
    top: -1rem;
}
.despedidaText > h1,  .despedidaText > h2{
    color: var(--secondary3-color-text) !important;
    top: -0.5rem;
    
}

.s-asistencia{
    width:100%;
    margin: auto;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-15rem;
    padding: 1rem;
    
}
.asistencia-info{
    width: 80%;
    text-align: center;
    margin: 1rem;
    color: var(--secondary3-color-text);
}
.s-asistencia h2 , .s-cancion h2{
    font-size: 2.2rem;
    font-family: 'Great Vibes', cursive;
    color: var(--secondary3-color-text);

}

.s-fecha{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-family: 'Source Code Pro';
    word-spacing: 0.50em;
    padding: 0.5rem;
    height: 8rem;
    margin-top: 3rem;
}
.s-fecha h2{
    color: var(--secondary3-color-text);
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.cuenta-regresiva{
    color: var(--secondary3-color-text);
    width: 100%;
    margin: auto;
    font-family: 'Alata', sans-serif;
    display: flex;
    align-items:center;
    justify-content: space-between ;

}
.cont-cuenta{
    text-align: center;
}
.cont-cuenta span{
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.cont-cuenta h4{
    font-size: 1rem;
    font-family: 'Great Vibes', cursive;
}

.s-location{
    background:var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    padding-bottom: 1rem;
    margin-top: -15rem !important;
    
}

.img-location{
    width:62%;
    top: -3rem;
    margin: auto;
    position: relative;
}
.s-cancion{
    background:var(--secondary2-color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15rem;
    padding-bottom: 1rem;
    
}

.s-cancion img{
    width: 3rem;

}

.location-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top:-2rem ;
    color: var(--secondary3-color-text);
    
    
}
.location-info h1{
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
}
.location-info h2{
    font-size: 1.5rem;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
    
}
.location-info .infoExtra{
    margin: .5rem;
    padding:.5rem;
    line-height: 1rem;
    
}
.infoExtra p{
    margin-bottom: 0rem;
}
.mapa{
    width:62%;
    height: 15rem;
    margin-bottom: 1rem;
}

.carousel-style{
    width: 80%;
    margin: 1rem auto;
}

.buttom-modal{
    padding:.5rem;
    border-radius: 10px;
    border: none;
    background-color:var(--secondary2-color-text);
    transition: .3s;
    text-decoration: none;
    color: var(--secondary2-color);
}
.buttom-modal:hover{

    background-color:var(--secondary3-color-text) ;
    color: var(--secondary-color);
}
 .buttom-modal-oscuro{
    
    background-color:var(--secondary3-color-text) !important;
    
}
.buttom-modal-oscuro:hover{

    background-color:var(--secondary-color) !important;
    color: var(--secondary3-color-text);
}

.imgLogoDespedida{
    width:3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}


.hojas-deco{
    position: absolute;
    width: 6rem;
    z-index: 10;
    bottom:-1.06rem;
    left: 0;
}
.s-location .hojas-deco-invertidas{
    top: -5.56rem;
}
.hojas-deco-invertidas{
    position: absolute;
    width: 6rem;
    transform: rotate(180deg);
    top: -1.06rem;
    right: 0;
}
.izquierda{
    left: 0;
    right: auto;
}
.derecha{
    left: auto;
    right: 0 !important;
}
.sectionPadding{
    padding:  2rem 0.5rem;
}


  /* Estilos del modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0; /* Inicialmente, el modal es invisible */
    pointer-events: none; /* Evita que el contenido del modal sea interactivo */
    transition: opacity 0.3s ease; /* Agrega transición al cambio de opacidad */
}

.modal.active {
    opacity: 1; /* Muestra el modal */
    pointer-events: auto; /* Permite que el contenido del modal sea interactivo */
}

.modal-content {
    text-align: center;
    padding: 1.875rem; /* 30px */
    border-radius: 0.3125rem; /* 5px */
    max-width: 22rem; /* 400px */
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0.625rem; /* 10px */
    right: 0.625rem; /* 10px */
    font-size: 1.5rem; /* 24px */
    cursor: pointer;
    color: var(--secondary3-color-text);
}

.modal-close:hover {
    color: var(--primary-color);
}

.modal-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem; /* 24px */
    color: var(--primary-color-text);
    margin-bottom: 1.25rem; /* 20px */
}

.modal-content .datos-bancarios {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; /* 16px */
    color: var(--primary-color-text);
    margin-bottom: 1rem; /* 16px */
}

.modal-content .label {
    color: var(--primary-color);
    display: block;
    font-size: 0.875rem; /* 14px */
     
}

.modal-content .content {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .invitation-card {
    width: 20rem; /* Cambiar el tamaño según sea necesario */
    margin: 2rem auto; /* Cambiar los márgenes según sea necesario */
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  .music-player {
    position: absolute;
    margin-top: 1rem;
  }
  
  #play-pause-btn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.696);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    z-index: 10000;
    color: rgba(0, 0, 0, 0.737);
  }
  
  #play-pause-btn i {
    font-size: 1rem;
  }
  
 
  span{
    white-space: nowrap;
  }

  

  .modal-bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.842);
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal-bienvenida-content {
    background-color: #fff9f9 !important;
    padding: 2rem;
    max-width: 20rem;
    margin: 2rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .modal-bienvenida h1 {
    font-size: 1.2rem;
  }
  
  .modal-bienvenida p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  
  .modal-bienvenida button {
    background-color: #7b7b7b;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modal-bienvenida button:hover {
    background-color: #818181;
  }

  /* Estilo para mostrar el modal */
  #modalBienvenidaContainer.show {
    display: flex;
    opacity: 1;
  }
  




/* RESPONSIVE MEDIA QUERIES */

/* For screens smaller than 768px */
@media screen and (max-width: 467px) {
   html{
    font-size:18px;
   }
   .s-asistencia h2 , .s-cancion h2{
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    color: var(--secondary3-color-text);

}
  }
  
  /* For screens between 768px and 1023px */
  @media screen and (min-width: 768px) {
    html{
        font-size:25px;
    }
    .s-presentacion .backgroundTexto{
        height: 25rem;
    }
    .carousel-style{
        width: 40%;
        margin: 1rem auto;
    }
    .s-location .hojas-deco-invertidas{
        top: -6.56rem;
    }
 }
  /* For screens larger than 1023px */
  @media screen and (min-width: 1024px) {
    html{
        font-size:30px;
    }
    .carousel-style{
        width: 20%;
        margin: 1rem auto;
    }
    
  }
